/*All new stylesheet rules go here*/
/*Global rules*/

.row.row-cols-2.row-cols-md-3.g-4{
    width: 20%;
}

body{
    background-color: white;
}

.card-title{
    font-family: 'Times New Roman', Times, serif;
}
